
  .formato-texto{
    text-transform: none; /* Eliminar el uppercase */
    text-transform: capitalize; /* Primera letra en mayúscula, el resto en minúscula */
  }

  .text-xxs {
    font-size: 0.7rem !important;
}
.btn{
  font-size: 0.9rem !important;
}
.form-control{
  font-size: 0.9rem !important;
}

.card{
  border: 2px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;
}


.container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl{
  width: 100% !important;
}

.residente-label, .residente-span {
  font-family: Arial, sans-serif; /* Cambia esto a la fuente que prefieras */
  font-size: 14px; /* Cambia esto al tamaño de fuente que prefieras */
  color: #333; /* Cambia esto al color que prefieras */
}
h5 {
  margin-bottom: 0.5rem; /* Ajusta el margen inferior del título */
}

.d-none {
  display: none;
}
