{% extends 'layouts/base.html' %}

{% block title %} Empleados-Conserjes {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h4>Editar Conserje</h4>
        </div>
        <div class="card-body">

         {% include "home/form-empleado.html" %}
         
          
        </div>
      </div>
      {% include "includes/footer.html" %}

    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}