<h4>soy el edit</h4>    <form enctype="multipart/form-data" id="personEditForm" method="post" autocomplete="off" novalidate>
    {% csrf_token %}
    
    <div class="row">
      {% for campo in formulario %}
        <div class="col-md-6">
          <div class="form-group mb-4">
            <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
            {% if campo.name == 'sexo' %}
              <div>
                {% for subcampo in campo %}
                  <div class="form-check form-check-inline">
                    {{ subcampo.tag }}
                    <label class="form-check-label" for="{{ subcampo.id_for_label }}">
                      {{ subcampo.choice_label }}
                    </label>
                  </div>
                {% endfor %}
              </div>
            {% else %}
              {{ campo }}
            {% endif %}
          </div>
          {% if campo.errors %}
            <div class="help-text">{{ campo.errors }}</div>
          {% endif %}
        </div>
      {% endfor %}
    </div>
  
        <!-- Campos ocultos para los valores deshabilitados -->
        <input type="hidden" name="rut" value="{{ formulario.rut.value }}">
        <input type="hidden" name="nombres" value="{{ formulario.nombres.value }}">
        <input type="hidden" name="apellido_paterno" value="{{ formulario.apellido_paterno.value }}">
        <input type="hidden" name="apellido_materno" value="{{ formulario.apellido_materno.value }}">
        <input type="hidden" name="sexo" value="{{ formulario.sexo.value }}">    
        <input type="hidden" name="fecha_ingreso" value="{{ formulario.fecha_ingreso.value|date:'Y-m-d' }}">
        <input type="hidden" name="id_rol" value="{{ formulario.id_rol.value }}">

        
    {% if form.errors %}
      <div class="alert alert-danger">
        <ul>
          {% for field, errors in form.errors.items %}
            <li>{{ field }}: {{ errors|striptags }}</li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    {% if form.non_field_errors %}
      <div class="alert alert-danger">
        {{ form.non_field_errors }}
      </div>
    {% endif %}

    {% if msg %}
    <div class="alert alert-danger">
      {{ msg }}
    </div>
    {% endif %}

    <div class="text-center">
        <input type="submit" class="btn btn-success btn-lg" value="Guardar">
        <button type="button" class="btn btn-secondary btn-lg" onclick="resetForm()">Limpiar</button>
      </div>

</form>

<script>
    function resetForm() {
      document.getElementById('personEditForm').reset();
    }

    
  </script>