

        <!-- Fila para el Filtro -->
        <div class="row">
          <div class="col-md-12">
            <div class="custom-card mb-1 mt-1">
              <div class="custom-card-header">
                <h6>Buscar Propiedad</h6>
              </div>
              <div class="custom-card-body p-4" style="padding: 0.5rem !important;">
                <form method="get" action="{% url 'crear_reserva' %}" id="buscarPropiedadForm">
                  <div class="row">
                    <div class="col-md-12 d-flex justify-content-between align-items-center">
                      <input type="text" id="numero_propiedad" name="numero_propiedad" class="form-control me-2" 
                      placeholder="Ingrese número de la propiedad" style="flex: 1;">
                      <button type="submit" class="btn btn-primary formato-texto me-2" style="margin-bottom: 0;">
                        <i class="fas fa-search"></i> Buscar</button>
                      <a href="{% url 'crear_reserva' %}" class="btn btn-secondary formato-texto" style="margin-bottom: 0;">
                        <i class="fas fa-eraser"></i> Limpiar
                      </a>
                    </div>                      
                  </div>                  
                </form>
              </div>
            </div>
          </div>
        </div>
      
        <!-- Fila para los Datos del Residente -->
    <div class="row" id="datosResidente" style="display: none;">
        <div class="col-md-12">
        <div class="custom-card mb-1 mt-1">
            <div class="custom-card-header">
            <h6>Datos del Residente</h6>
            </div>
            <div class="custom-card-body" >
                <div class="row">
                  <div class="col-md-12 d-flex flex-wrap align-items-center">
                    <div class="form-group me-4">
                      <label for="nombre_completo_residente" class="form-label">Residente:</label>
                      <div id="nombre_completo_residente" class="d-inline-block p-2 rounded bg-light" style="font-size: small;">
                          <strong>{{ residente.nombres }} {{ residente.apellido_paterno }} {{ residente.apellido_materno }}</strong>
                      </div>
                    </div>
                  

                    <div class="form-group me-4">
                      <label for="telefono_residente" class="form-label">N° Contacto: </label>
                      <div id="telefono_residente" class="d-inline-block p-2 rounded bg-light" style="font-size: small;">
                        {{ residente.telefono }}</div>

                    </div>
                    <div class="form-group me-4">
                      <label for="numero_propiedad_label" class="form-label">Número Propiedad: </label>
                      <div id="numero_propiedad_label" class="d-inline-block p-2 rounded bg-light" style="font-size: small;">
                        {{ propiedad.numero }}</div>
                      <input type="hidden" id="propiedad" name="propiedad" value="{{ propiedad.id }}">
                    </div>
                    <div class="form-group">
                      <label for="piso_propiedad" class="form-label">Piso: </label>
                      <div id="piso_propiedad" class="d-inline-block p-2 rounded bg-light" style="font-size: small;">
                        {{ propiedad.piso }}</div>
                    </div>
                  </div>
                </div>
                
              </div>
              
        </div>
        </div>
    </div>
      </div>
  
     <!-- Formulario de Reserva -->
     <form enctype="multipart/form-data" id="reservaEstacionamientoForm" method="post" autocomplete="off" novalidate>
      {% csrf_token %}
  
      <!-- Acordeón Horizontal para Secciones -->
      <div class="horizontal-accordion">
        
            <!-- Sección de Visitas -->
            <div class="accordion-item">
            <div class="accordion-header" id="headingVisit">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVisit" aria-expanded="true" aria-controls="collapseVisit">
                Datos de Visita
                </button>
            </div>
            <div id="collapseVisit" class="accordion-collapse collapse show" aria-labelledby="headingVisit" data-bs-parent="#formAccordion">
                <div class="accordion-body">
                  <div class="row">
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ formulario.rut_visita.id_for_label }}" class="form-label">{{ formulario.rut_visita.label }}</label>
                        {{ formulario.rut_visita }}
                    </div>
                    {% if formulario.rut_visita.errors %}
                        <div class="text-danger small">{{ formulario.rut_visita.errors }}</div>
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ formulario.nombre_visita.id_for_label }}" class="form-label">{{ formulario.nombre_visita.label }}</label>
                        {{ formulario.nombre_visita }}
                    </div>
                    {% if formulario.nombre_visita.errors %}
                        <div class="text-danger small">{{ formulario.nombre_visita.errors }}</div>
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ formulario.apellido_paterno_visita.id_for_label }}" class="form-label">{{ formulario.apellido_paterno_visita.label }}</label>
                        {{ formulario.apellido_paterno_visita }}
                    </div>
                    {% if formulario.apellido_paterno_visita.errors %}
                        <div class="text-danger small">{{ formulario.apellido_paterno_visita.errors }}</div>
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ formulario.apellido_materno_visita.id_for_label }}" class="form-label">{{ formulario.apellido_materno_visita.label }}</label>
                        {{ formulario.apellido_materno_visita }}
                    </div>
                    {% if formulario.apellido_materno_visita.errors %}
                        <div class="text-danger small">{{ formulario.apellido_materno_visita.errors }}</div>
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ formulario.telefono_visita.id_for_label }}" class="form-label">{{ formulario.telefono_visita.label }}</label>
                        {{ formulario.telefono_visita }}
                    </div>
                    {% if formulario.telefono_visita.errors %}
                        <div class="text-danger small">{{ formulario.telefono_visita.errors }}</div>
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ formulario.relacion_residente.id_for_label }}" class="form-label">{{ formulario.relacion_residente.label }}</label>
                        {{ formulario.relacion_residente }}
                    </div>
                    {% if formulario.relacion_residente.errors %}
                        <div class="text-danger small">{{ formulario.relacion_residente.errors }}</div>
                    {% endif %}
                    </div>
                    <div class="col-md-6">
                    <div class="form-group">
                        <label for="{{ formulario.residente.id_for_label }}" class="form-label"></label>
                        {{ formulario.residente }}
                    </div>
                    </div>
                  </div>
                </div>
            </div>
            </div>
    
            <!-- Sección de Datos del Vehículo -->
            <div class="accordion-item">
                <div class="accordion-header" id="headingVehicle">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVehicle" aria-expanded="false" aria-controls="collapseVehicle">
                    Datos del Vehículo
                </button>
                </div>
                <div id="collapseVehicle" class="accordion-collapse collapse" aria-labelledby="headingVehicle" data-bs-parent="#formAccordion">
                <div class="accordion-body">
                    <div class="row">
                    {% for campo in formulario %}
                        {% if campo.name in 'patente_vehiculo descripcion_vehiculo fecha_llegada_visita fecha_llegada_visita_confirmada  tiempo_permanencia' %}
                        <div class="col-md-6">
                            <div class="form-group">
                            <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
                            {{ campo }}
                            </div>
                            {% if campo.errors %}
                            <div class="text-danger small">{{ campo.errors }}</div>
                            {% endif %}
                        </div>
                        {% endif %}
                    {% endfor %}
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="numero_estacionamiento" class="form-label">Número Estacionamiento</label>
                        <input type="text" id="numero_estacionamiento" name="numero_estacionamiento" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                        <label for="ubicacion_estacionamiento" class="form-label">Ubicación Estacionamiento</label>
                        <input type="text" id="ubicacion_estacionamiento" name="ubicacion_estacionamiento" class="form-control" readonly>
                        </div>
                    </div>
                    
                    </div>
                    <!-- Botón para abrir el modal de estacionamientos -->
                    <a href="#"  class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#estacionamientosModal">
                    Ver Estacionamientos
                    </a>
                </div>
                </div>
            </div>
      </div>
      <!-- Campo ocultos para enviar al formulario -->
      <input type="hidden" id="empleado" name="empleado" value="{{ request.session.empleado_id }}">   
      <input type="hidden" id="estacionamiento" name="estacionamiento">
      <input type="hidden" id="id_residente2" name="id_residente2" value="{{residente.id_residente2}}">
  
      <div class="d-none">
        {{ formulario.propiedad }}
       
      </div>
      <!-- Error general del formulario -->
      {% if formulario.non_field_errors %}
      <div class="alert alert-danger">
        <ul>
          {% for error in formulario.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}
   
   
      <div class="text-center">
        <div class="d-flex justify-content-center" style="margin-bottom: -1rem;">
            <input type="submit" class="btn btn-success btn-lg me-2" value="Guardar" style="width: 200px;">
            <a href="#" class="btn btn-secondary btn-md" style="width: 200px;" onclick="resetForm()">Cancelar</a>
        </div>
    </div>
     </form>

     <script>
      function resetForm() {
        alert("entre");
          document.getElementById('reservaEstacionamientoForm').reset();
      }
    </script>
 
