          

<form enctype="multipart/form-data" id="personForm" method="post" autocomplete="off" novalidate>
  {% csrf_token %}
  
  <div class="row justify-content-center">
      <div class="col-md-11">

          <div class="d-flex justify-content-between align-items-center custom-card-header">
            <a href="{% url 'ver_conserjes' %}" class="btn-icon-only" title="Volver">
                <i class="fas fa-arrow-left"></i>
            </a>
            <h6 class="text-center w-100">NUEVO EMPLEADO</h6>
        </div>
          
          <div class="row">  
              {% for campo in formulario %}
                  <div class="col-md-6">
                      <div class="form-group">
                          <label for="{{ campo.id_for_label }}" class="form-label">{{ campo.label }}</label>
                          {% if campo.name == 'sexo' %}
                              <div>
                                  {% for subcampo in campo %}
                                      <div class="form-check form-check-inline">
                                          {{ subcampo.tag }}
                                          <label class="form-check-label" for="{{ subcampo.id_for_label }}">
                                              {{ subcampo.choice_label }}
                                          </label>
                                      </div>
                                  {% endfor %}
                              </div>
                          {% else %}
                              {{ campo }}
                          {% endif %}
                      </div>
                      {% if campo.errors %}
                          <div class="text-danger small">{{ campo.errors }}</div>
                      {% endif %}
                  </div>
              {% endfor %}
          </div>

          {% if form.errors %}
          <div class="alert alert-danger">
              <ul>
                  {% for field, errors in form.errors.items %}
                      <li>{{ field }}: {{ errors|striptags }}</li>
                  {% endfor %}
              </ul>
          </div>
          {% endif %}
          {% if form.non_field_errors %}
              <div class="alert alert-danger">
                  {{ form.non_field_errors }}
              </div>
          {% endif %}

        

          <div class="row" style="margin-top: 1rem !important;">
              <div class="col-md-6 d-grid mb-3">
                  <input type="submit" class="btn btn-success" value="Guardar">
              </div>
              <div class="col-md-6 d-grid mb-3">
                  <button type="button" class="btn btn-secondary" onclick="resetForm()">Limpiar</button>
              </div>
          </div>
      </div>
  </div>
</form>

<script>
  function resetForm() {
      document.getElementById('personForm').reset();
  }
</script>