
<form enctype="multipart/form-data" method="post">
  {% csrf_token %}
  {% for campo in formulario %}
    <div class="form-group mb-4">
        <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
        {{ campo }}
         
      </div>
      <div class="col-12 help-text">{{ campo.errors }}</div>
      {% endfor %}  

  {% if form.errors %}
  <div class="alert alert-danger">
       <ul>
          {% for field, errors in form.errors.items %}
              <li>{{ field }}: {{ errors|striptags }}</li>
          {% endfor %}
        </ul>
    </div>
{% endif %}
<input type="submit" class="btn btn-success" value="Guardar"></input>
</form>

