<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario de Reserva</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <style>
    .d-none {
        display: none;
    }
    label[for="id_residente"] {
        display: none!important;
    }
   
  </style>
</head>
<body>
  <div class="container mt-5">
    <form enctype="multipart/form-data" id="reservaEstacionamientoForm" method="post" autocomplete="off" novalidate>
      {% csrf_token %}

      <!-- Información Estática del Residente -->
      <h5>Datos del Residente</h5>
      <div class="row">    
        <div class="col-md-6">
          <div class="form-group" style="margin-bottom: -0.3rem;">
            <label for="nombre_completo_residente" class="residente-label">Residente: </label>                     
            <span id="nombre_completo_residente" class="residente-span"></span>
          </div>
          <div class="form-group">
            <label for="telefono_residente" class="residente-label">Contacto: </label>                     
            <span id="telefono_residente" class="residente-span"></span>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group" style="margin-bottom: -0.3rem;">
            <label for="numero_propiedad_label" class="residente-label">Número Propiedad: </label>                     
            <span id="numero_propiedad_label" class="residente-span"></span>
            <input type="hidden" id="propiedad" name="propiedad">
          </div>
          <div class="form-group">
            <label for="piso_propiedad" class="residente-label">Piso: </label>                     
            <span id="piso_propiedad" class="residente-span"></span>
          </div>
        </div>
      </div>

      <!-- Acordeón para Secciones -->
      <div class="accordion" id="formAccordion">
        
        <!-- Sección de Visitas -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingVisit">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVisit" aria-expanded="true" aria-controls="collapseVisit">
              Sección de Visitas
            </button>
          </h2>
          <div id="collapseVisit" class="accordion-collapse collapse show" aria-labelledby="headingVisit" data-bs-parent="#formAccordion">
            <div class="accordion-body">
              <div class="row">
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <label for="{{ formulario.rut_visita.id_for_label }}">{{ formulario.rut_visita.label }}</label>
                    {{ formulario.rut_visita }}
                  </div>
                  {% if formulario.rut_visita.errors %}
                    <div class="help-text">{{ formulario.rut_visita.errors }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <label for="{{ formulario.nombre_visita.id_for_label }}">{{ formulario.nombre_visita.label }}</label>
                    {{ formulario.nombre_visita }}
                  </div>
                  {% if formulario.nombre_visita.errors %}
                    <div class="help-text">{{ formulario.nombre_visita.errors }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <label for="{{ formulario.apellido_paterno_visita.id_for_label }}">{{ formulario.apellido_paterno_visita.label }}</label>
                    {{ formulario.apellido_paterno_visita }}
                  </div>
                  {% if formulario.apellido_paterno_visita.errors %}
                    <div class="help-text">{{ formulario.apellido_paterno_visita.errors }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <label for="{{ formulario.apellido_materno_visita.id_for_label }}">{{ formulario.apellido_materno_visita.label }}</label>
                    {{ formulario.apellido_materno_visita }}
                  </div>
                  {% if formulario.apellido_materno_visita.errors %}
                    <div class="help-text">{{ formulario.apellido_materno_visita.errors }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <label for="{{ formulario.telefono_visita.id_for_label }}">{{ formulario.telefono_visita.label }}</label>
                    {{ formulario.telefono_visita }}
                  </div>
                  {% if formulario.telefono_visita.errors %}
                    <div class="help-text">{{ formulario.telefono_visita.errors }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6">
                  <div class="form-group mb-4">
                    <label for="{{ formulario.relacion_residente.id_for_label }}">{{ formulario.relacion_residente.label }}</label>
                    {{ formulario.relacion_residente }}
                  </div>
                  {% if formulario.relacion_residente.errors %}
                    <div class="help-text">{{ formulario.relacion_residente.errors }}</div>
                  {% endif %}
                </div>
                <div class="col-md-6" style="display: none;">
                  <div class="form-group mb-4">
                    <label for="{{ formulario.residente.id_for_label }}">{{ formulario.residente.label }}</label>
                    {{ formulario.residente }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Sección de Datos del Vehículo -->
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingVehicle">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseVehicle" aria-expanded="false" aria-controls="collapseVehicle">
              Sección de Datos del Vehículo
            </button>
          </h2>
          <div id="collapseVehicle" class="accordion-collapse collapse" aria-labelledby="headingVehicle" data-bs-parent="#formAccordion">
            <div class="accordion-body">
              <div class="row">
                {% for campo in formulario %}
                  {% if campo.name in 'patente_vehiculo descripcion_vehiculo fecha_llegada_visita fecha_llegada_visita_confirmada  tiempo_permanencia' %}
                    <div class="col-md-6">
                      <div class="form-group mb-4">
                        <label for="{{ campo.id_for_label }}">{{ campo.label }}</label>
                        {{ campo }}
                      </div>
                      {% if campo.errors %}
                        <div class="help-text">{{ campo.errors }}</div>
                      {% endif %}
                    </div>
                  {% endif %}
                {% endfor %}
                <div class="d-none">
                  {{ formulario.propiedad }}
                </div>
              </div>
              <!-- Botón para abrir el modal de estacionamientos -->
              
              <a href="#" id="estacionamientosModal2" class="btn btn-primary mt-4" data-bs-toggle="modal" data-bs-target="#estacionamientosModal">
                Ver Estacionamientos
              </a>
              
              
            </div>
          </div>
        </div>
      </div>



      <!-- Campo oculto para el ID del empleado -->
      <input type="hidden" id="empleado" name="empleado" value="{{ request.session.empleado_id }}">
      <input type="hidden" id="residente" name="residente" value="">
      
      <!-- Error general del formulario -->
      {% if formulario.non_field_errors %}
      <div class="alert alert-danger">
        <ul>
          {% for error in formulario.non_field_errors %}
            <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      {% if msg %}
      <div class="alert alert-danger">
          <ul>
              {% for error in msg %}
                  <li>{{ error }}</li>
              {% endfor %}
          </ul>
      </div>
      {% endif %}

      <div class="text-center">
          <input type="submit" class="btn btn-success btn-lg" value="Guardar">
          <button type="button" class="btn btn-secondary btn-lg" onclick="resetForm()">Limpiar</button>
      </div>
    </form>
  </div>

  <script>
    function resetForm() {
      document.getElementById('reservaEstacionamientoForm').reset();
    }

    // Función para actualizar el campo oculto con el ID del residente seleccionado
    document.getElementById('id_residente').addEventListener('change', function() {
        var selectedResidenteId = this.value;
        document.getElementById('residente').value = selectedResidenteId;
    });

    
</script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>