{% extends 'layouts/base.html' %}

{% block title %} Empleados-Conserjes {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<style>
    .valid {
            color: green;
        }
        .invalid {
            color: red;
        }
        button:disabled {
            background-color: grey;
            cursor: not-allowed;
        }
        .error {
            color: red;
            font-size: 0.9em;
        }

</style>
    <div class="container-fluid py-4">
      
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Registro Conserje</h6>
        </div>
        <div class="card-body">
         
            <form method="post"  id="personForm" data-regiones-url="{% url 'ajax_load_regiones' %}"  data-comunas-url="{% url 'ajax_load_comunas' %}"
            >
                {% csrf_token %}
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="id_rut">RUT</label>
                      {{ form.rut }}
                      <input type="text" class="form-control" id="id_rut" placeholder="" maxlength="12">
                      <span class="error" id="errorRut"></span>
                    </div>
                  
                    <div class="form-group">
                      <label for="apellido_paterno">Apellido Paterno</label>
                      {{ form.apellido_paterno }}
                      <input type="text" class="form-control" id="apellido_paterno" placeholder="">
                      <span class="error" id="errorApellidoPaterno"></span>
                    </div>
                    <div class="form-group">
                      <label for="telefono">Teléfono</label>
                      {{ form.telefono }}
                      <input type="text" class="form-control" id="telefono" placeholder="">
                      <span class="error" id="errorTelefono"></span>
                    </div>
                    <div class="form-group">

                      <label for="id_region" class="form-label">Regiones</label>
                      <select name="region" id="id_region" class="form-select" required>
                        <option value="">Seleccione una región</option>
                      </select>
                      <span class="error" id="errorRegion"></span>
                    </div>
                    <div class="form-group">
                      <label for="direccion">Dirección</label>
                      {{ form.direccion }}
                      <input type="text" class="form-control" id="" placeholder="">
                      <span class="error" id="errorDireccion"></span>
                    </div>

                    <div class="form-group">
                      <label for="sexo">Sexo</label>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="sexo" id="sexo_masculino" value="M">
                          <label class="form-check-label" for="sexo_masculino">
                              Masculino
                          </label>
                      </div>
                      <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="sexo" id="sexo_femenino" value="F">
                          <label class="form-check-label" for="sexo_femenino">
                              Femenino
                          </label>
                      </div>
                      <span class="error" id="errorSexo"></span>
                    </div>
                  </div>

                  <div class="col-md-6">
                    <div class="form-group">
                      <label for="nombres">Nombres</label>
                      {{ form.nombres }}
                      <input type="text" class="form-control" id="nombres" placeholder="">
                      <span class="error" id="errorNombre"></span>
                    </div>
                    <div class="form-group">
                      <label for="apellido_materno">Apellido Materno</label>
                      {{ form.apellido_materno }}
                      <input type="text" class="form-control" id="apellido_materno" placeholder="">
                      <span class="error" id="errorApellidoMaterno"></span>
                    </div>
                    <div class="form-group">
                      <label for="correo_electronico">Correo Electrónico</label>
                      {{ form.correo_electronico }}
                      <input type="email" class="form-control" id="correo_electronico" placeholder="" maxlength="20">
                      <span class="error" id="errorCorreo"></span>
                    </div>
                    <div class="form-group">
                      <label for="id_comuna" class="form-label">Comuna</label>
                      <select name="comuna" id="id_comuna" class="form-select" required>
                        <option value="">Seleccione una comuna</option>
                      </select>
                      <span class="error" id="errorComuna"></span>
                    </div>
                    
                    <div class="form-group">
                      <label for="fecha_ingreso">Fecha de Ingreso</label>
                      
                      <input type="text" class="form-control" id="fecha_ingreso" placeholder="">
                      <span class="error" id="errorFechaIngreso"></span>
                    </div>
                    
                    
                  </div>
                </div>
                <button type="submit" class="btn btn-primary" id="submitBtn">Registrar</button>
              </form>


        </div>
      </div>
      {% include "includes/footer.html" %}

    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}

<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
 <script>
    $(document).ready(function() {
      alert("hola 1");
        const url = $("#personForm").attr("data-regiones-url");
  
        $.ajax({
            url: url,
            success: function (data) {
                let options = '<option value="">Seleccione una región</option>';
                data.forEach(function (region) {
                    options += `<option value="${region.id}">${region.nombre}</option>`;
                });
                $("#id_region").html(options);
            },
            error: function (xhr, status, error) {
                console.error("AJAX error:", status, error);
            }
        });
    });
  
    $("#id_region").change(function () {
        const url = $("#personForm").attr("data-comunas-url");
        const regionId = $(this).val();
  
        $.ajax({
            url: url,
            data: {
                'region_id': regionId
            },
            success: function (data) {
                let options = '<option value="">Seleccione una comuna</option>';
                data.forEach(function (comuna) {
                    options += `<option value="${comuna.id}">${comuna.nombre}</option>`;
                });
                $("#id_comuna").html(options);
            }
        });
    });
  </script>
