{% extends 'layouts/base.html' %}

{% block title %} Registrar Observación {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">
      
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>Registro Observacion</h6>
        </div>
        <div class="card-body">
         <h4 class="card-title">Datos del libro</h4>

         {% include "home/form.html" %}
           
        </div>
      </div>
      {% include "includes/footer.html" %}

    </div>
    

  

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}