{% extends 'layouts/base.html' %}

{% block title %} Nuevo Empleado {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container mt-5">
  <div class="row justify-content-center">
      <div class="col-md-10">
          <div class="custom-card shadow-sm">
              <div class="custom-card-body">
                  {% include "home/form-empleado.html" %}
              </div>
          </div>
      </div>
  </div>
</div>
  {% include "includes/footer.html" %}

    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}



