{% extends 'layouts/base.html' %}

{% block title %} Nueva Reserva {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <div class="custom-card mb-4">
        <div class="text-center custom-card-header">
            <h6>NUEVA RESERVA</h6>
        </div>
        <div class="custom-card-body">
            {% include "home/form-reserva-2.html" %}
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>

<!-- Modal -->
<div class="modal fade" id="residentesModal" tabindex="-1" role="dialog" aria-labelledby="residentesModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="residentesModalLabel">Seleccionar Residente</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <select id="residentesDropdown" class="form-control">
                    <option value="">Seleccione</option>
                </select>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" id="seleccionarResidenteBtn">Seleccionar</button>
            </div>
        </div>
    </div>
</div>
      <!-- Modal de Estacionamientos -->
      <div class="modal fade" id="estacionamientosModal" tabindex="-1" aria-labelledby="estacionamientosModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
           
            {% include "home/ver-estacionamientos-disponibles.html" %}
           
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
            </div>
          </div>
        </div>
      </div>
{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>

// document.getElementById('estacionamientosModal2').addEventListener('submit', function(event) 
// {
//     event.preventDefault();
//     $('#estacionamientosModal').modal('hide');
// });

    // CARGA LOS ESTACIONAMIENTOS EN EL MODAL
    

    document.addEventListener('DOMContentLoaded', function() {
    const estacionamientosBody = document.getElementById('estacionamientos-body');
    
    async function cargarEstacionamientos() {
        fetch('/estacionamientos-disponibles/')
        .then(response => response.json())
        .then(data => {
            if (data.estacionamientos) {
                const tableBody = document.getElementById('estacionamientos-body');
                tableBody.innerHTML = ''; // Limpiar el contenido anterior

                data.estacionamientos.forEach(estacionamiento => {
                    const row = document.createElement('tr');
                    row.setAttribute('data-id', estacionamiento.id);
                    row.innerHTML = `
                        <td>${estacionamiento.numero}</td>
                        <td>${estacionamiento.ubicacion}</td>
                        <td>${estacionamiento.tipo}</td>
                    `;
                    
                    row.addEventListener('click', function() {
                        seleccionarEstacionamiento(estacionamiento.id, estacionamiento.numero, estacionamiento.ubicacion);
                    });
                    tableBody.appendChild(row);
                });
            } else {
                alert('No hay estacionamientos disponibles.');
            }
        })
        .catch(error => {
            console.error('Error al cargar estacionamientos:', error);
            alert('Ocurrió un error al cargar los datos.');
        });
    }

    cargarEstacionamientos();
});

function seleccionarEstacionamiento(id, numero, ubicacion) {
    document.getElementById('estacionamiento').value = id;
    document.getElementById('numero_estacionamiento').value = numero;
    document.getElementById('ubicacion_estacionamiento').value = ubicacion;
    $('#estacionamientosModal').modal('hide');
}



    document.getElementById('buscarPropiedadForm').addEventListener('submit', function(event)
    {
         event.preventDefault();
        var numeroPropiedad = document.getElementById('numero_propiedad').value;
        
        fetch(`/obtener-datos-propiedad/?numero_propiedad=${numeroPropiedad}`)
        .then(response => response.json())
        .then(data => { 
            
            if (data.id && data.numero_propiedad && data.piso && data.estado) {
                console.log("datos propiedad :::::::::::::::::::::::: ",data);
                actualizarPropiedad(data.id);
                document.getElementById('propiedad').value = data.id;
                document.getElementById('numero_propiedad_label').textContent = data.numero_propiedad;
                document.getElementById('piso_propiedad').textContent = data.piso;
                document.getElementById('estado_propiedad').textContent = data.estado;
            } else {
                alert(data.error);
            }
        });
        
        fetch(`/buscar-residentes/?numero_propiedad=${numeroPropiedad}`)
            .then(response => response.json())
            .then(data => {
                if (data.residentes) {
                    var dropdown = document.getElementById('residentesDropdown');
                    dropdown.innerHTML = '<option value="">Seleccione</option>';
                    data.residentes.forEach(function(residente) {
                        var option = document.createElement('option');
                        option.value = residente.id;
                        option.textContent = residente.nombre;
                        dropdown.appendChild(option);
                    });
                    $('#residentesModal').modal('show');
                } else {
                    alert(data.error);
                }
            });


    });
    // FUNCION QUE GATILLA DESPUES DE SELECCIONAR UN RESIDENTE DEL MODAL

    document.getElementById('seleccionarResidenteBtn').addEventListener('click', function() {
        var dropdown = document.getElementById('residentesDropdown');
        var selectedResidenteId = dropdown.value;
        if (selectedResidenteId) {
            document.getElementById('residente').value = selectedResidenteId;
            actualizarDatosResidente(selectedResidenteId);
            $('#residentesModal').modal('hide');
            document.getElementById('datosResidente').style.display = 'block';
        } else {
            alert('Seleccione un residente');
            document.getElementById('datosResidente').style.display = 'none';
        }
    });

  
    
    // Función para actualizar el campo oculto con el ID del residente seleccionado
    // document.getElementById('id_residente').addEventListener('change', function() {
    //     var selectedResidenteId = this.value;
    //     document.getElementById('residente_id').value = selectedResidenteId;
    // });

    function actualizarDatosResidente(residenteId) {
        if (residenteId) {
            fetch(`/obtener-datos-residente/?residente_id=${residenteId}`)
                .then(response => response.json())
                .then(data => {
                    if (data.nombre_completo && data.telefono) {
                        console.log("data :::::::::::::::::::::::: ",data);
                        document.getElementById('nombre_completo_residente').innerHTML = data.nombre_completo;
                        document.getElementById('telefono_residente').innerHTML = data.telefono;
                    } else {
                        alert(data.error);
                    }
                });
        }
    }

    function actualizarPropiedad(id) {
        document.getElementById("id_propiedad").value = id;
    }

    

</script>
{% endblock javascripts %}