{% extends 'layouts/base.html' %}

{% block title %} Nueva Reserva {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container-fluid py-4">
    <div class="custom-card mb-4">
        <div class="text-center custom-card-header">
            <h6>DETALLE RESERVA</h6>
        </div>
        <div class="custom-card-body">

            {% include "home/form-reserva-detalle.html" %}
     
        </div>
    </div>
    {% include "includes/footer.html" %}
</div>
      
{% endblock content %}

{% block javascripts %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>


    document.addEventListener('DOMContentLoaded', function() {
    const estacionamientosBody = document.getElementById('estacionamientos-body');
    
    async function cargarEstacionamientos() {
        fetch('/estacionamientos-disponibles/')
        .then(response => response.json())
        .then(data => {
            if (data.estacionamientos) {
                const tableBody = document.getElementById('estacionamientos-body');
                tableBody.innerHTML = ''; // Limpiar el contenido anterior

                data.estacionamientos.forEach(estacionamiento => {
                    const row = document.createElement('tr');
                    row.setAttribute('data-id', estacionamiento.id);
                    row.innerHTML = `
                        <td>${estacionamiento.numero}</td>
                        <td>${estacionamiento.ubicacion}</td>
                        <td>${estacionamiento.tipo}</td>
                    `;
                    
                
                    tableBody.appendChild(row);
                });
            } else {
                alert('No hay estacionamientos disponibles.');
            }
        })
        .catch(error => {
            console.error('Error al cargar estacionamientos:', error);
            alert('Ocurrió un error al cargar los datos.');
        });
    }

    cargarEstacionamientos();
});



</script>
{% endblock javascripts %}