{% extends 'layouts/base.html' %}

{% block title %} Listado de Observaciones {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <div class="container-fluid py-4">

      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Ver listado de  Observaciones</h6>
              <a class="btn btn-success" href="{% url 'crear_observacion' %}">Nueva Observación</a>
            </div>
           
            <div class="card-body px-0 pt-0 pb-2">
             
              <div class="table-responsive p-0">
                
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">id</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">titulo</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Descripcion</th>
                      <th class="text-secondary opacity-7">Accion2</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for prueba in pruebasObj %}
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">                          
                          <div class="d-flex flex-column justify-content-center">
                            <p class="text-xs text-secondary mb-0">{{ prueba.id }}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs text-secondary mb-0">{{ prueba.titulo }}</p>
                      </td>
                      <td>
                        <p class="text-xs text-secondary mb-0">{{ prueba.descripcion }}</p>
                      </td>
                      <td class="align-middle">
                        <a class="btn btn-info" href="{% url 'editar_observacion' prueba.id %}">Editar</a>
                        <a class="btn btn-danger" href="{% url 'eliminar_observacion' prueba.id %}">Borrar</a>
                      </td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>

   

      {% include "includes/footer.html" %}

    </div>
    
{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
