{% extends 'layouts/base.html' %}

{% block title %} Listado de Observaciones {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0 d-flex justify-content-between align-items-center" >
          <h4>Listado de Estacionamientos</h4>
       </div>
        <!-- Card para el formulario de búsqueda -->
        <div class="card-body" style="margin-bottom: -2rem;">
          <div class="row">
            <div class="col-md-12">
              <a class="btn btn-success btn-md formato-texto" href="{% url 'crear_estacionamiento' %}">Nuevo</a>
       
              <!-- <a href="{% url 'exportar_empleados_pdf' %}" target="_blank" class="btn btn-primary btn-md formato-texto">
                <i class="fas fa-download"></i> PDF
              </a> -->
            </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="card mb-4">
              <div style="background-color: #f8f9fa; margin: auto;">
                <h6>Filtros</h6>
                <form method="GET" action="{% url 'ver_estacionamientos' %}">
                  <div class="input-group">
                    <select name="numero_estacionamiento" class="form-control me-2">
                      <option value="">Número</option>
                      {% for numero in numeros_estacionamiento %}
                        <option value="{{ numero.id }}" {% if request.GET.numero_estacionamiento == numero.id|stringformat:"s" %}selected{% endif %}>{{ numero.nombre }}</option>
                      {% endfor %}
                    </select>
                    <select name="ubicacion" class="form-control me-2">
                      <option value="">Ubicación</option>
                      {% for ubicacion in ubicaciones %}
                        <option value="{{ ubicacion.id }}" {% if request.GET.ubicacion == ubicacion.id|stringformat:"s" %}selected{% endif %}>{{ ubicacion.nombre }}</option>
                      {% endfor %}
                    </select>
                    <select name="tipo_estacionamiento" class="form-control me-2">
                      <option value="">Tipo</option>
                      {% for tipo in tipos_estacionamiento %}
                        <option value="{{ tipo.id }}" {% if request.GET.tipo_estacionamiento == tipo.id|stringformat:"s" %}selected{% endif %}>{{ tipo.nombre }}</option>
                      {% endfor %}
                    </select>
                    <select name="estado_estacionamiento" class="form-control me-2">
                      <option value="">Estado</option>
                      {% for estado in estados_estacionamiento %}
                        <option value="{{ estado.id }}" {% if request.GET.estado_estacionamiento == estado.id|stringformat:"s" %}selected{% endif %}>{{ estado.nombre }}</option>
                      {% endfor %}
                    </select>
                    <button type="submit" class="btn btn-primary formato-texto me-2"><i class="fas fa-search"></i> Buscar</button>
                    <a href="{% url 'ver_estacionamientos' %}" class="btn btn-secondary formato-texto">
                      <i class="fas fa-eraser"></i> Limpiar
                    </a>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>


        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Numero</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ubicación</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tipo</th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Estado</th>
                 <th class="text-secondary opacity-7">Accion</th>
                </tr>
              </thead>
              <tbody>
                {% for item in estacionamientosObj %}
                <tr>
                  <td>
                    <div class="d-flex px-2 py-1">
                      <div class="d-flex flex-column justify-content-center">
                        <p class="text-xs text-secondary mb-0">{{ item.numero_estacionamiento }}</p>
                      </div>
                    </div>
                  </td>
                  <td>
                    <p class="text-xs text-secondary mb-0">{{ item.ubicacion}}</p>
                  </td>
                  <td>
                    <p class="text-xs text-secondary mb-0">{{ item.tipo_estacionamiento }}</p>
                  </td>
                  <td>
                    <p class="text-xs text-secondary mb-0">{{ item.estado_estacionamiento }}</p>
                  </td>
                 
                  <td class="align-middle">
                    <input type="hidden" name="id" value="{{ item.id }}">
                    <a class="btn btn-info formato-texto" href="{% url 'editar_estacionamiento' item.id %}">Editar</a>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>

  {% include "includes/footer.html" %}

</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}