{% block content %}

<div class="container-fluid py-4">
    <div class="row">
        <div class="col-12">
            <div class="custom-card">
                <div class="custom-card-header w-100 text-center">
                    <h6>ESTACIONAMIENTOS DISPONIBLES</h6>
                </div>
                <div class="custom-card-body">
                    <div class="table-responsive">
                        <table class="table table-hover align-items-center mb-0">
                            <thead>
                                <tr>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Número</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Ubicación</th>
                                    <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Tipo</th>
                                </tr>
                            </thead>
                            <tbody id="estacionamientos-body">
                                {% for item in estacionamientosObj %}
                                <tr>
                                    <td>
                                        <div class="d-flex px-2 py-1">
                                            <div class="d-flex flex-column justify-content-center">
                                                <p class="text-xs text-secondary mb-0">{{ item.numero_estacionamiento }}</p>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        <p class="text-xs text-secondary mb-0">{{ item.ubicacion }}</p>
                                    </td>
                                    <td>
                                        <p class="text-xs text-secondary mb-0">{{ item.tipo_estacionamiento }}</p>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

<!-- Specific JS goes HERE -->
{% block javascripts %}{% endblock javascripts %}